<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - 사용자 포인트 관리</title>
</head>
<body>
<h1>사용자 포인트 관리</h1>
<form th:action="@{/admin/points/update}" method="post">
    <table>
        <thead>
        <tr>
            <th>사용자 ID</th>
            <th>닉네임</th>
            <th>현재 포인트</th>
            <th>포인트 업데이트</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userProfile : ${userProfiles}">
            <td th:text="${userProfile.id}"></td>
            <td th:text="${userProfile.userNickName}"></td>
            <td th:text="${userProfile.point}"></td>
            <td>
                <input type="hidden" name="userProfileId" th:value="${userProfile.id}" />
                <input type="number" name="points" placeholder="새 포인트" />
                <button type="submit">포인트 업데이트</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
